<div class="profile">
    <div class="card hovercard">
        <div class="card-background">
            <img class="card-bkimg" alt="" src="./images/defaultBg.jpg">
            <!-- http://lorempixel.com/850/280/people/9/ -->
        </div>
        <div class="useravatar">
            <img alt="" src="{{profileImg}}">
        </div>
        <div class="card-info">
            <span style="margin-right:10px" class="card-title">{{profileUser}}</span>
            <span class="card-title">
                <i class="fa fa-star-o" aria-hidden="true"></i>{{profileKarma}}</span>

        </div>
    </div>

    <div class="btn-group tabs" role="group" aria-label="...">

        <button style="border-radius: 0 0 0 .25rem !important;" ng-click="setPrimary('tab1')" type="button" id="tab1but" class="tabbutton single btn btn-primary">
            <i class="fa fa-bell-o" aria-hidden="true"></i>
            <div class="hidden-xs">Stories</div>
        </button>


        <button style="border-radius: 0 0 .25rem 0 !important;" ng-click="setPrimary('tab2')" type="button" id="tab2but" class="tabbutton single btn btn-default">
            <i class="fa fa-user-circle" aria-hidden="true"></i>
            <div class="hidden-xs">User Info</div>
        </button>

    </div>
    <div class="well">
        <div class="tab-content">

            <div class="tab-pane" id="tab1">
                <div class="card" ng-repeat="st in profileStoryList">

                    <div class="card-body">
                            <a href="{{'#/story/'+st.post_id}}">
                                <h4 class="card-title">{{st.post_title}}</h4>
                            </a>
                    </div>
                </div>
            </div>
            <div class="tab-pane" style="display:none" id="tab2">
                <h3>This test2</h3>
            </div>
        </div>
    </div>



</div>