<div class="ss">
    <div class="jumbotron">
        <h1 class="sstitle">
            {{post.post_title}}
        </h1>
        <div class="va">
            <div class="vote">
                <img class="uarrow" id="{{'upvoteImg'+post.post_id}}" alt="" src="./images/upvote_not.png" ng-click="upvote(post.post_id)">
                <div class="ups">{{post.post_upvotes}}</div>
                <img class="darrow" id="{{'downvoteImg'+post.post_id}}" alt="" src="./images/downvote_not.png" ng-click="downvote(post.post_id)">
                <div class="downs">{{post.post_downvotes}}</div>
            </div>
            <p class="card">{{post.post_text}}</p>

        </div>
    </div>
    <div class="card">
        <div class="comment">
                <form name="form" ng-submit="comment(post.post_id)" role="form">
                        <div class="form-group">
                            <label for="comment_text">Tell me what you thought!</label>
                            <textarea type="text" name="comment_text" id="comment_text" ng-model="newComment.post_text" class="form-control" required ></textarea>
                        </div>
                        <div class="form-actions">
                            <button type="submit" class="btn btn-primary">Add Comment</button>
                            <a href="#/" class="btn btn-link">Cancel</a>
                        </div>
                    </form>
        </div>
    </div>
</div>